extends layout

block content
  script(src="/javascripts/vendor/jquery/jquery.dropdown.js")  
  script(src="/javascripts/dropdown.js")  
  link(rel='stylesheet', href='/stylesheets/jquery.dropdown.css')
  .wrapper
    #dropdown-1.dropdown.dropdown-tip
      ul.dropdown-menu
        li
          a.instr Shoot the asteroids by clicking! Each shot costs 1 point, each hit gives you 2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
        li
          a.sc Score:&nbsp;
            span.score 0
    button.text(href="#", data-dropdown="#dropdown-1") Shoot the asteroids by clicking! Each shot costs 1 point, each hit gives you 2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8628;

   