extends layout

block content
  script(src="/javascripts/vendor/jquery/jquery.dropdown.js")  
  script(src="/javascripts/dropdown.js")  
  link(rel='stylesheet', href='/stylesheets/jquery.dropdown.css')
  .wrapper
    #dropdown-1.dropdown.dropdown-tip
      ul.dropdown-menu
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
    a.text(href="#", data-dropdown="#dropdown-1") Dropdown Menu &#8595;
    span.sc Score:
      span.score 0     
   