extends layout

block content
  script(src="/javascripts/vendor/jquery/jquery.dropdown.js")  
  script(src="/javascripts/dropdown.js")  
  link(rel='stylesheet', href='/stylesheets/jquery.dropdown.css')
  .wrapper
    #dropdown-1.dropdown.dropdown-tip
      ul.dropdown-menu
        li
          a.instr Shoot the asteroids by clicking! Each shot costs 1 point, each hit gives you 2.
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
        li
          a.line r
        li
          a.line r
        li
          a.line o
        li
          a.line r
        li
          a.line e
    button.text(href="#", data-dropdown="#dropdown-1") What did you put in a dropdown menu? &#8595;
    span.sc Score:
      span.score 0     
   