doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/vendor/jquery/jquery-2.1.1.min.js")
    meta(property="og:title", content="Why would they take my domain?")
    meta(property="og:image", content="http://i.imgur.com/4MxDGDm.png")
    meta(property="og:description", content='"10outof10bestgameever" -ign')
    meta(property="og:url", content="http://theytookmydomain.net/dropdown")
    title=title
  body
    block content
