body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.game{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
 
.text, #dropdown-1, span{
    font-family: "Courier New", Courier, monospace;
}
.sc{
    position: absolute;
    right: 0px;
}
.wrapper{
    position: relative;

}