body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.game{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
 
.text, #dropdown-1, span{
    font-family: "Courier New", Courier, monospace;
}
.ign{
    position: absolute;
    right: 0px;
    font-size: 20px
}
.wrapper{
    position: relative;
}
button{
    background-color: white;
    border-color: rgb(184, 184, 184);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 0 0 0;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    font-size:14px;
}
button:focus {
    outline:0 !important;
}
button:active{
    outline: 3px !important;
}
.dark-button{
    background-color: rgb(200,200,200);
    border-color: rgb(154, 154, 154);
    border-width: 2px;
}
